<!DOCTYPE html>
<html lang="en">
  <head>
    {%load static%}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- offline -->
    <link
      rel="stylesheet"
      href="{% static 'css/bootstrap/bootstrap.min.css'%}"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/bootstrap/icon/bootstrap-icons.css'%}"
    />

    <!-- online -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="{%static 'images/ctu-logo.ico'%}"
    />

    <link rel="stylesheet" href="{% static 'css/login.css'%}" />
    <title> Water Refelling System | Login</title>
  </head>
  <body>
    <div
      class="container d-flex justify-content-center align-items-center min-vh-90"
    >
      <div class="row border rounded-3 p-3 shadow box-area">
        <div
          class="col-md-6 rounded-1 d-flex justify-content-center align-items-center flex-column left-box"
        >
          <div class="featured-image mb-3">
            <img
              src="{% static 'images/water-pic.svg'%}"
              class="img-fluid"
              style="width: 250px"
            />
          </div>
          <div class="login-text">
            <p id="login-p" class="text-center fs-4">
              Quenching Thirst, Sustaining Life: Your Oasis in Every Drop
            </p>
          </div>
        </div>

        <div class="col-md-6 border border-4 rounded-2 right-box">
          <form action="" method="POST">
            {% csrf_token %}

            <div class="row align-items-center justify-content-center">
              <h5 class="mb-4 text-primary text-opacity-50">Experience More, Sign Up Today!</h5>
              {%if messages%} {%for message in messages%}
              <p class="text-danger">{{message}}</p>
              {%endfor%} {%endif%}

              {% if form.errors %}
                    <div class="alert alert-danger">
                    {% for field, error in form.errors.items %}
                    {{field}}{{ error }}
                    {% endfor %}
                    </div>
                {% endif %}
             
              <h6>Personal Information</h6>

              <div class="col-md-4 mb-1 hide-field" id="">
                <small>First Name</small>
                {{form.e_firstname}}
              </div>

              <div class="col-md-4 mb-1  hide-field" id="">
                <small>Middle Name</small>
                {{form.e_middlename}}
              </div>

              <div class="col-md-4 mb-1  hide-field" id="">
                <small>Last Name</small>
                {{form.e_lastname}}
              </div>

              <div class="col-md-12 mb-1">
                <small>Phone Number</small>
                {{form.e_p_number}}
              </div>
             
              <div class="col-12 mb-1">
                <small>Address</small>
                {{form.e_address}}
              </div>

              <h6 class="mt-3"  >Login Credentials</h6>
              <div class="col-12 mt-2">
                <small>Email</small>
                {{form.e_email}}
              </div>

              <div class="col-12 mb-1">
                <small>Password</small>
                {{form.e_password}}
              </div>

              <div><p>Already have an account? <a href="{%url 'user_login'%}">Login</a></p></div>
              <div class="input-group mb-3">
                <button class="mt-4 btn btn-lg btn-primary w-100 fs-6">
                 Register
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script src="{% static 'bootstrap/bootstrap.min.js'%}"></script>
  </body>
</html>
