<!DOCTYPE html>
<html lang="en">
  <head>
    {%load static%}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register </title>
    <link rel="stylesheet" href="{%static 'css/login.css'%}" />
  </head>
  <body>
    <div class="login-container">
        
      <form class="form" method = "POST">
        {%csrf_token%}
        <p class="form-title">Register</p>
  
        <div class="input-container">
          <input placeholder="First Name" name="first_name" type="text" />
        </div>

        <div class="input-container">
          <input placeholder="Middle Name" name="middle_name" type="text" />
        </div>

        <div class="input-container">
          <input placeholder="Last Name" name="last_name" type="text" />
        </div>

        <div class="input-container">
          <input placeholder="Address" name="address" type="text" />
        </div>

        <div class="input-container">
          <input placeholder="Phone Number" name="phone_number" type="text" />
        </div>

        <div class="input-container">
          <input placeholder="Email Address" name="email_address" type="text" />
        </div>

        <button class="submit" type="submit">Sign Up</button>

        <p class="signup-link">
          Already have an account?
          <a href="{%url 'login'%}">Sign In</a>
        </p>
      </form>
    </div>
  </body>
</html>
